---
import Shelf from "../components/Shelf.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout>
    <div class="frontpage_topdiv">
<img src="../logo/logo.svg" alt="Logo">
<h1 class="h1_1line">COPENHAGEN</h1>
<h1 class="h1_2line">SAKURA</h1>
<h1 class="h1_3line">FESTIVAL</h1>
<img src="../photos/pink_fuji_web.svg" alt="Fuji">
</div>
</MainLayout>



<style>
    
</style>

