---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout>
    <h1>Om os</h1>
<div class="con_1">
<div class="img1"><img src="../photos/omos1.webp" alt=""></div>
<h2>Hvad er Sakura Festival?</h2>
<p>Sakura Festival,  også kendt som Kirsebær Træ's Festival, er en Japansk tradition der hylder det kommende forår og når kirsebær træerne springer ud. Festivalen bliver holdt i mange byer i Japan ,  men også i andre lande hvor kirsebær træer gror. <br><br>
I Japan elsker mennesker at beundrer Sakura blomstre og næsten alle tager ud for at nyde dens skønhed sammen med familien, venner, eller kærligheden.</p>
</div>


<div class="con_2">
<div class="mw_1100"><iframe class="video" width="1100" height="624" src="https://www.youtube.com/embed/vZGJPqfaOEA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<h2>Hvornår startede Sakura Festival i København?</h2>
<p>Udvalget fra Københavns Sakura Festival blev etableret i Februar 2008, for at arrangere det kulturelle event Sakura Festival med hjælp fra den Japanske ambassade i Danmark.<br> Den originale ide kom fra den noble donation af 200 kirsebær blomst træer af Mr. Seiichi Takaki, Præsident af Andersen Institute of Bread & Life. De donerede træer blev plantet i Langelinie park. <br><br>
1 gang om året bringer Sakura mennesker sammen og vi mødes under Sakura træerne. Det er også det fundamentale mål for udvalget.</p>
</div></div>
</MainLayout>



<style>
  
  h1 {
        font-family: Sansita;
        font-size: 4rem;
        color: var(--text-red);
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    h1, h2, p{
        color: var(--text-red);
    }

    h2{
         font-family: Sansita;
         font-size:2rem;
         margin-bottom:2rem;
         margin-top:4rem;

    }

    p{
        font-family: Roboto;
        font-size:1.5rem;
        margin-bottom:4rem;
        max-width: 1000px;
    
        
    }

    .con_1{
        display:grid;
    }

    .con_2{
    background-color: var(--text-pink);
    border-top: solid 2px #C5202D;
    border-bottom: solid 2px #C5202D;

    }
    .video{
        display:grid;
        justify-content: center;
    }

    .img1{
        justify-self: center;
        
    }
    img{
        border: 2px solid var(--text-red);
    }

 
</style>