---

---


<section>
<a href="">
    <p class="time">10:45</p>
    <h3>Wadaiko</h3>
    <p class="readmore">Læs mere</p>
</a>
<div class="lefticon">
    <img src="../icons/events.svg" alt="">
    <p>+</p>
</div>

</section>



<style>
    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-bottom: solid 1px #C5202D;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .time {
        background-color: var(--text-lighterred);
        color: var(--text-white);
        font-family: Oswald;
        font-size: 1rem;
        padding-left: 3.5%;
        width: 25%;
    }

    a {
        text-decoration: none;
    }

    h3 {
        font-family: Oswald;
        font-size: 2rem;
        color: var(--text-red);
    }

    .readmore {
        font-family: Roboto;
        font-size: 1rem;
        color: var(--text-red);
        margin-top: 5%;
    }

    .lefticon {
        text-align: right;
    }
</style>