

<footer>
    <div class="footerdiv">
        <h3>ADRESSE</h3>
        <p>Langelinie Park</p>
        <p>Nordre Toldbod</p>
        <p>1259 København K</p>
    </div>
    <div class="footerdiv">
        <h3>KONTAKT</h3>
        <p>c/o Embassy of Japan</p>
        <p>Havneholm 25, 9F.</p>
        <p>1561 København V</p>
    </div>
    <div class="footerdiv">
        <a href="tel:+4533455121">Tlf: (+45) 33 45 51 21</a>
        <p>Fax: (+45) 33 11 33 77</p>
        <a href="mailto: nfo.cph@ch.mofa.go.jp">Email: info.cph@ch.mofa.go.jp</a>
    </div>
    <div class="footerdiv">
        <a href="https://www.facebook.com/copenhagensakurafestival/" target="_blank"><img src="../icons/facebook.svg" alt="Facebook"></a>
        <a href="https://www.instagram.com/copenhagensakurafestival/" target="_blank"><img src="../icons/instagram.svg" alt="Instagram"></a>
    </div>
</footer>


<style>


    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        bottom: 0;
        max-width: 1100px;
        margin-bottom: 5%;
        margin-top: 5%;
        color: var(--text-red);
        line-height: 1.5;
        margin-inline: auto;
    }

    .footerdiv {
        width: 25%;
    }

    h3 {
        font-family: Oswald;
        padding-bottom: 5%;
    }

    p, a {
        font-size: 1rem;
        font-family: Roboto;
        text-decoration: none;
        color: var(--text-red);
    }

    a:hover {
        text-decoration: underline;
    }

    img {
        width: 48%;
    }

    @media (max-width: 900px) {
        footer {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 20px;
            margin-left: 2%;
            margin-right: 2%;
        }

        .footerdiv {
            width: 60%;
        }

        img {
            max-width: 80px;
        }
    }

</style>

