

<footer>
    <div>
        <h3>Adresse</h3>
        <p>Langelinie Park</p>
        <p>Nordre Toldbod</p>
        <p>1259 København K</p>
    </div>
    <div>
        <h3>Kontakt</h3>
        <p>c/o Embassy of Japan</p>
        <p>Havneholm 25, 9F.</p>
        <p>1561 København V</p>
    </div>
    <div>
        <p>Tlf: (+45) 33 45 51 21</p>
        <p>Fax: (+45) 33 11 33 77</p>
        <p>Email: info.cph@ch.mofa.go.jp</p>
    </div>
    <div>
        <a href="https://www.facebook.com/copenhagensakurafestival/" target="_blank"><img src="../icons/facebook.svg" alt="Facebook"></a>
        <a href="https://www.instagram.com/copenhagensakurafestival/" target="_blank"><img src="../icons/instagram.svg" alt="Instagram"></a>
    </div>
</footer>


<style>


    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        bottom: 0;
        width: 1100px;
        margin-bottom: 5%;
        margin-top: 5%;
        color: var(--text-red);
        line-height: 1.5;
        margin-inline: auto;
    }

    h3 {
        font-family: Oswald;
        padding-bottom: 5%;
    }

    p {
        font-size: 1rem;
        font-family: Roboto;
    }

    img {
        width: 48%;
    }
</style>


