---
import Event from "./Event.astro";
const { indhold, stage} = Astro.props;

const url = "https://kutprjsetyxgrdcvsngm.supabase.co/rest/v1/sakura";

const options = {
	headers: {
		apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt1dHByanNldHl4Z3JkY3ZzbmdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzkwNDQwOTYsImV4cCI6MTk5NDYyMDA5Nn0.RnatBkh36ZvkpU3vpFGUZ1eiOO2_4_nKZmoczvvTddM"
	},
};

const response = await fetch(url, options);
const data = await response.json();

---

<div>
    {
        data.map((event) => (
            <Event
            link={"/events/" + event.id}
            categoryicon={`/icons/${event.categoryicon}`}
            eventtitel={event.eventtitel}
            starttime={event.starttime}
        />
        ))
    }
</div>