---
import Event from "./Event.astro";
const {indhold, stage} = Astro.props;

---

<div>
    <h2>{stage}</h2>
    {
        indhold.map((event) => (
            <Event
            link={"/events/" + event.slug}
            categoryicon={`/icons/${event.categoryicon}`}
            eventtitel={event.eventtitel}
            starttime={event.starttime}
        />
        ))
    }
</div>


<style>


    h2 {
        font-family: Oswald;
        margin-top: 7%;
        margin-bottom: 7%;
        padding-bottom: 2%;
        font-size: 2.1rem;
        color: var(--text-red);
        border-bottom: 2px solid var(--text-red);
    }
</style>